#header-banner {
  height: 200px;
  background-image: url(../images/about.svg/about-bg.png);
  background-position: center 45%;
  background-size: cover;
  background-repeat: no-repeat;
}
#gradient-overlay {
  height: 100%;
  background: rgba(49, 59, 89, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 165px;
}
#gradient-overlay h1 {
  color: #ffffff;
  font-family: "Space Mono", monospace;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 56px;
  letter-spacing: -2.5px;
}
#mobility {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobility-text {
  display: flex;
  padding: 235px 0px 0px 165px;
  flex-direction: column;
  gap: 24px;
}
.mobility-text h1 {
  width: 445px;
  color: var(--scootcol03);
  font-family: var(--scootfont01);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.143px;
}
.mobility-text p {
  width: 445px;
  color: var(--scootcol01);
  font-family: var(--scootfont02);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
